:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --footer-color: rgba(255, 255, 255, 0.6);
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;

  line-height: 1.71;
  letter-spacing: 0.42px;

  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid tomato;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  margin-top: 0;
  margin-bottom: 0;

  list-style: none;
  padding-left: 0;
}

.link {
  text-decoration: none;
  color: currentColor;
}

/* навігація сайту */

.logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;

  line-height: 1.2;
  letter-spacing: 0.78px;

  text-decoration: none;

  color: var(--accent-color);
}

.logo-black:hover,
.logo-black:focus {
  color: var(--accent-color);
}

.logo-black {
  color: #000000;
}

.site-nav .link {
  font-size: 14px;
  font-weight: 500;

  line-height: 1.2;
  letter-spacing: 0.28px;

  color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.info-nav .link {
  font-size: 14px;
  font-weight: 500;

  line-height: 1.2;
  letter-spacing: 0.28px;
}

.info-nav .link:hover,
.info-nav .link:focus {
  color: var(--accent-color);
}

/* секція герой */

.hero {
  padding-bottom: 94px;
  text-align: center;

  color: var(--primary-white-color);
  background-color: #2f303a;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 44px;
  font-weight: 900;

  line-height: 1.36;
  letter-spacing: 2.64px;

  text-transform: uppercase;
}

.hero-btn {
  padding: 10px 32px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;

  line-height: 1.87;
  letter-spacing: 0.96px;
  border: 0;
  border-radius: 4px;

  cursor: pointer;

  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--primary-white-color);
  color: #2f303a;
}

/* секція переваги*/

.section {
  padding-bottom: 94px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
  font-size: 36px;
  font-weight: 700;

  line-height: 1.2;
  letter-spacing: 1.08px;

  color: var(--title-text-color);
}

.advantages-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;

  line-height: 1.2;
  letter-spacing: 0.42px;

  text-transform: uppercase;

  color: var(--title-text-color);
}

.advantages-text {
  margin-top: 0;
  margin-bottom: 0;
}

/* команда */

.team {
  background-color: #f5f4fa;
}
.team-member {
  width: 270px;
  border-radius: 0px 0px 4px 4px;
  background: var(--primary-white-color);
}

.team-title {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;

  line-height: 1.2;
  letter-spacing: 0.48px;

  color: var(--title-text-color);
}

.team-text {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 30px;
  text-align: center;
  font-size: 16px;

  line-height: 1.2;
  letter-spacing: 0.48px;
}

/* footer */

.footer {
  background-color: #2f303a;
  color: var(--primary-white-color);
}

.logo-white {
  color: var(--primary-white-color);
}

.logo-white:hover,
.logo-white:focus {
  color: var(--accent-color);
}

.footer-address {
  font-style: normal;
}

.address {
  margin-top: 20px;
  margin-bottom: 9px;
}

.footer-info {
  display: inline-block;
  margin-bottom: 9px;
}

.footer .link {
  font-weight: 400;

  line-height: 1.71;
  letter-spacing: 0.42px;

  color: rgba(255, 255, 255, 0.6);
}

.footer .link:hover,
.footer .link:focus {
  color: var(--accent-color);
}

/* Portfolio секція напрямки діяльності*/

.portfolio-btn {
  font-family: inherit;
  text-align: center;
  font-size: 16px;
  font-weight: 500;

  line-height: 1.62;
  letter-spacing: 0.48px;

  cursor: pointer;

  background-color: #f5f4fa;
  color: var(--title-text-color);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.portfolio .active {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.portfolio-title {
  font-size: 18px;
  font-weight: 700;

  line-height: 2;
  letter-spacing: 1.08px;

  color: var(--title-text-color);
}

.portfolio-text {
  font-size: 16px;

  line-height: 1.87;
  letter-spacing: 0.48px;

  color: var(--primary-text-color);
}
